<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./footer.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>

<body>
    <div class="col-60 footer">
        <div class="main">
            <div class="col-25 sub-content">
                <div class="logo">
                    <img src="/src/assets/img/header/Logo.png" width="30px" height="30px" alt="">
                    <div class="name">Interno</div>
                </div>

                <p class="slogan">It is a long established fact that a reader will be
                    distracted lookings.</p>

                <div class="social">
                    <a href=""><i class='icon-social bx bxl-facebook'></i></a>
                    <a href=""><i class='icon-social bx bxl-twitter'></i></a>
                    <a href=""><i class='icon-social bx bxl-linkedin'></i></a>
                    <a href=""><i class='icon-social bx bxl-instagram'></i></a>
                </div>
            </div>

            <!-- Pages -->
            <div class="page-content">
                <h2 class="content">Pages</h2>
                <a href="" class="info">About Us</a>
                <a href="" class="info">Our Projects</a>
                <a href="" class="info">Our Team</a>
                <a href="" class="info">Contact Us</a>
                <a href="" class="info">Services</a>
            </div>

            <!-- Services -->
            <div class="page-content">
                <h2 class="content">Services</h2>
                <a href="" class="info">Kitchan</a>
                <a href="" class="info">Living Area</a>
                <a href="" class="info">Bathroom</a>
                <a href="" class="info">Dinning Hall</a>
                <a href="" class="info">Bedroom</a>
            </div>

            <!-- Contact -->
            <div class="col-25 contact">
                <h2 class="content">Contact</h2>
                <p class="info">55 East Birchwood Ave. Brooklyn, New York 11201</p>
                <p class="mgtd-45 info">khanhtin.luong1612@gmail.com</p>
                <p class="mgtd-45 info">(+84) 81330 - 0435</p>
            </div>
        </div>

        <!-- Coppy Right -->
        <div class="copyright">
            <hr class="line">
            <p class="info-copyright">Copyright © Interno | Designed by Victorflow Templates
                - Powered by Webflow</p>
        </div>

    </div>
</body>

</html>