@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.pd-100{
    padding: 100px 0;
}

.fw{
    font-weight: 600;
}

.fz-18{
    font-size: 18px;
}

.f{
    font-family: Jost;
}

.opacity{
    opacity: 0.8;
}

.mg-auto{
    margin: 0 auto;
}

/* Quotes */
.quotes{
    display: flex;
    justify-content: center;
}

.border-quotes{
    width: 30%;
    border: outset 20px #F4F0EC;
    border-radius: 35px;
}

.content-quotes{
    text-align: center;
    padding: 30px;
    font-size: 18px;
    font-style: italic;
}

.content-body{
    padding: 10px 0;
}

/* What We Do */
.what-we-do{
    display: inline-flex;
    justify-content: center;
}

.content{
    width: 30%;
    padding: 20px 48px;
}

.content .note{
    padding: 30px 0;
}

.get-free-btn {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    padding: 15px 15px;
    border-radius: 13px;
    line-height: 22.5px;
    letter-spacing: 1px;
    background: #292F36;
    color: #fff;
}

.arrow {
    font-size: 25px;
    padding: 0 5px;
    color: #CDA274;
}

.image{
    border-radius: 50px;
}

.image:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.0.5);
    transition: 0.3s;
    filter:brightness(80%);
}

/* Team */
.content-team{
    text-align: center;
    background: #F4F0EC;
    padding-bottom: 100px;
}

.title{
    margin: 0 auto;
    width: 26%;
    padding: 100px 0 40px;
    text-align: center;
}


.member{
    display: flex;
    justify-content: center;
}

.image-member-team{
    border-radius: 55px;
    padding: 0 20px;
}

.image-member-team:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.0.5);
    transition: 0.3s;
    filter:brightness(80%);
}

.member-3{
    width: 22%;
    background: #fff;
}

.info-member-3{
    padding: 50px 0;
}

.social{
    font-size: 24px;
    padding: 0 5%;
}

/* Mail Box */
.info-mail{
    text-align: center;
    padding-bottom: 50px;
}

.info-user{
    padding: 30px;
}

.info-user input{
    width: 20%;
    height: 40px;
    margin: 0 1%;
    padding: 0 10px;
}

.info-mail .note-input{
    width: 40%;
    height: 40px;
    padding: 0 10px;
}