@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.col-60 {
    width: 60%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
}

.logo{
    display: flex;
    align-items: baseline;
}

.name{
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
    font-family: DM Serif Display;
}

.menubar{
    display: flex;
    align-items: center;
}

.menubar-item{
    font-family: Jost;
    font-size: 20px;
    padding: 10px 15px;
}

.menubar-item:hover {
    background: #cda274;
    color: white;
    border-radius: 10px;
}

.menubar-item a{
    color: #000;
    text-decoration: none;
}

.menubar .search-box_btn{
    right: 0;
    top: 0;
    width: 40px;
    height: 45px;
    font-size: 20px;
    border: none;
    background: #fff;
}

/* RESPONSIVE */

/* MOBILE: WIDTH < 740px */
@media only screen and (max-width: 46.1875em) {
    .header{
        flex-direction: column;
    }

    .menubar-item{
        padding: 10px;
    }

    .search-box{
        display: none;
    }
}

/* TABLET: WIDTH >= 740px and WIDTH < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {}