<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./header.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>Document</title>
</head>

<body>
    <div class="header">
        <div class="logo">
            <img src="/src/assets/img/Logo.png" width="40px" height="40px" alt="">
            <div class="name">Interno</div>
        </div>
        <span class="menubar">
            <ul class="menubar-item"><a href="">Home</a></ul>
            <ul class="menubar-item"><a href="">About</a></ul>
            <ul class="menubar-item"><a href="">Service</a></ul>
            <ul class="menubar-item"><a href="">Pricing</a></ul>
            <ul class="menubar-item"><a href="">Blog</a></ul>

            <div class="search-box">
                <input class="search-box_input" type="text">
                <button class="search-box_btn">
                    <i class='bx bx-search'></i>
                </button>
            </div>
        </span>
    </div>

    <!-- Javascript -->
    <!-- <script>
        var btnSearch = document.querySelector('.search-box_btn')

        btnSearch.addEventListener('click', function () {
            this.parentElement.classList.toggle('search-box_open')
            this.previousElementSibling.focus();
        })
    </script> -->
</body>

</html>